.navbar {
  background-color: #4b0082 !important;
}

#botonIngreso {
  color: white;
  background-color: #ee82ee;
  margin-right: 3rem;
}

#botonRegistro {
  color: white;
  background-color: black;
  margin-right: 2rem;
}

#contenedor {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

#fondo {
  margin-top: 5rem;
  background: #4169e1;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;

  animation: animate 50s ease-in-out infinite;
  /*
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    */
}

@keyframes animate {
  0%,
  100% {
    background-image: url("../img/1.jpg");
  }
  25% {
    background-image: url("../img/2.jpg");
  }
  50% {
    background-image: url("../img/3.jpg");
  }
  75% {
    background-image: url("../img/4.jpg");
  }
}


#contenedorRegistro{
    margin-top: 5rem;
}

#fondoRegistro {
    background: url("../img/4.jpg") #4169e1;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;

    /*
      animation-direction: alternate-reverse;
      animation-duration: 30s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-play-state: running;
      animation-timing-function: ease-in-out;
      */
  }


.leftside,
.rightside {
  height: 100%;
  width: 100%;
}

#cardRight1,
#cardLeft1 {
  margin-top: 5rem;
}

#cardRight2,
#cardLeft2 {
  margin-top: 5rem;
}

#cardRegistro{
    margin-top: 5rem;
}

#centroRegistro{
    height: 100vh;
}

#yes {
  width: 100%;
  margin-top: 5rem;
}
